
.downloadbutton{
    top: 5px;
    width: 80%
}

.containerButton{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divButton, .divqr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin{
    margin-bottom: 10px;
}