.baseTile{
    width: 95%;
    height: 95%;
}

.insideTile{
    width: 90%;
}

.paginatorDiv{
    justify-content: center;
    text-align: center;
    width: 100%;
}

.paginator{
    width: 80%;
}