.baseTile {
    width: 95%;
    height: 95%;
}

.insideTile {
    width: 90%;
}

.paginatorDiv {
    justify-content: center;
    text-align: center;
    width: 100%;
}


.table {
    width: 100%;
}

.mat-header-cell {
    font-weight: 400;
    color: #9F2ABF;
}