<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Filtros de Búsqueda</h4>
                        <p class="card-category">Puedes utilizar estos distintos filtros para buscar dentro del listado
                            de notificaciones.</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-6">
                                <button class="createBuild" mat-stroked-button color="warn">Crear Edificio</button>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-6">
                                <button class="createRoom" mat-stroked-button color="warn">Crear Sala</button>
                            </div>
                        </div>
                        <div class="row updiv">
                            <div class="col-lg-6 col-md-4 col-sm-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Búsqueda Edificio</mat-label>
                                    <input matInput (keyup)="applyFilterBuilds($event)" placeholder="Ej. Bienestar Est."
                                        #input>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Búsqueda Sala</mat-label>
                                    <input matInput (keyup)="applyFilterRooms($event)" placeholder="Ej. Sala 101"
                                        #input>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">Lista de Edificios</h4>
                                <p class="card-category">Aquí puedes ver el listado de  edificios en la facultad.
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="dataSourceBuilds" matSort class="table">
        
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="building_name">
                                            <th mat-header-cell *matHeaderCellDef> Edificio </th>
                                            <td mat-cell *matCellDef="let element"> {{element.building_name}} </td>
                                        </ng-container>
        
                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button disabled color="warn" aria-label="Example icon button with a home icon">
                                                    <i class="material-icons">edit</i>
                                                    </button>
                                                <button class= 'secondButton' disabled mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                                                    <i class="material-icons">delete</i>
                                                    </button>
                                            </td>
                                        </ng-container>
        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsBuilds; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsBuilds;" (click)="rowClick(row);"></tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
                                    class="paginator">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">Lista de Salas</h4>
                                <p class="card-category">Aquí puedes ver el listado de salas luego de seleccionar un edificio.
                                </p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="dataSourceRooms" matSort class="table">
        
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="room_name">
                                            <th mat-header-cell *matHeaderCellDef> Sala </th>
                                            <td mat-cell *matCellDef="let element"> {{element.room_name}} </td>
                                        </ng-container>
        
                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button disabled color="warn" aria-label="Example icon button with a home icon">
                                                    <i class="material-icons">edit</i>
                                                    </button>
                                                <button class= 'secondButton' disabled mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                                                    <i class="material-icons">delete</i>
                                                    </button>
                                                <button (click)="showQR(element)" class='secondButton' mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                                                    <i class="material-icons">qr_code_scanner</i>
                                                    </button>
                                            </td>
                                        </ng-container>
        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRooms; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRooms;"></tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
                                    class="paginator">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>