<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose">
                        <h4 class="card-title ">{{headText}}</h4>
                        <p class="card-category">{{headSubText}}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="middleAction()">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline" [color]="color">
                                            <mat-label>Nombre del Edificio</mat-label>
                                            <input matInput placeholder="Ej. Bienestar Est."
                                                #input formControlName="name" required="true">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline" [color]="color">
                                            <mat-label>Apodo del Edificio</mat-label>
                                            <input matInput placeholder="Ej. BIE"
                                                #input formControlName="nick" required="true">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="containerButton">
                                            <button mat-raised-button color="accent" class="addButton" type="submit">{{buttonText}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>