<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">school</i>
                      </div>
                      <p class="card-category" style="font-weight: bold;">Salas</p>
                      <h4 style="font-weight: bold;" class="card-title">23/41</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">notification_important</i>
                          Salas con Problemas
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">show_chart</i>
                      </div>
                      <p class="card-category" style="font-weight: bold;">Frecuencia</p>
                      <h4 class="card-title" style="font-weight: bold;">Sala 12</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Sala con mas notificaciones
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">water_drop</i>
                      </div>
                      <p class="card-category" style="font-weight: bold;">Recargas</p>
                      <h4 class="card-title" style="font-weight: bold;">12</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">date_range</i> Ultimas 24 horas
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">event</i>
                      </div>
                      <p class="card-category" style="font-weight: bold;">Dia</p>
                      <h4 class="card-title" style="font-weight: bold;">Miercoles</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">calendar_month</i> Dia con mas notificaciones
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Notificaciones Semanales</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Semana 6/6/2022 - 10/6/2022
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-8">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Notificaciones por Edificio</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">access_time</i> Semana 6/6/2022 - 10/6/2022
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      
  </div>
</div>
