<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Filtros de Búsqueda</h4>
                        <p class="card-category">Puedes utilizar estos distintos filtros para buscar dentro del listado
                            de notificaciones.</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Searching for Building -->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Edificios</mat-label>
                                    <!-- <mat-label>Filtro no Disponible</mat-label> -->
                                    <mat-select [formControl]="buildings" multiple
                                        (selectionChange)="applyFilter($event)">
                                        <mat-select-trigger>
                                            {{buildings.value?.[0] || ''}}
                                            <span *ngIf="(buildings.value?.length || 0) > 1"
                                                class="example-additional-selection">
                                                (+{{(buildings.value?.length || 0) - 1}} {{buildings.value?.length === 2
                                                ?
                                                'mas' : 'mas'}})
                                            </span>
                                        </mat-select-trigger>
                                        <mat-option *ngFor="let building of buildingList" [value]="building">
                                            {{building}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- Searching for Range Date -->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>DD/MM/YYYY - DD/MM/YYYY</mat-label>
                                    <!-- <mat-label>Filtro no Disponible</mat-label> -->
                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                            <!-- Searching for Range Count of notifications -->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Búsqueda</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Bienestar Est."
                                        #input>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de Notificaciones</h4>
                        <p class="card-category">Aquí puedes ver el listado de notificaciones emitidas.
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" matSort class="table">

                                <!-- Position Column -->
                                <ng-container matColumnDef="building">
                                    <th mat-header-cell *matHeaderCellDef> Edificio </th>
                                    <td mat-cell *matCellDef="let element"> {{element.building}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="room">
                                    <th mat-header-cell *matHeaderCellDef> Sala </th>
                                    <td mat-cell *matCellDef="let element"> {{element.room}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Última Notif. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="reason">
                                    <th mat-header-cell *matHeaderCellDef> Razón </th>
                                    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
                                </ng-container>

                                <ng-container matColumnDef="count">
                                    <th mat-header-cell *matHeaderCellDef> Conteo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="showNotification('bottom','center', element.room, 'recharge', element.count)"
                                            class="buttonTable" *ngIf="element.reason == 'Alcohol Gel'"
                                            mat-stroked-button color="warn">Recargar</button>
                                        <button (click)="showNotification('bottom','center', element.room, 'repair', element.count)"
                                            class="buttonTable" *ngIf="element.reason == 'Reparación'"
                                            mat-stroked-button color="warn">Reparar</button>
                                        <button (click)="showComments()"
                                            class="buttonTable"
                                            mat-stroked-button color="warn">Comentarios</button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            
                        </div>
                        <mat-paginator [length]="dataSource.data.length" [pageSize]="2" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
                            class="paginator" style-paginator showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>